
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dali E-commerce Website</title>
    <link rel="stylesheet" href="view.css" />
  </head>
  <body>
    <section id="header">
      <a href="#"><img src="img/logo.png" class="logo" alt="" /></a>
      <div>
        <ul id="navbar">
          <li><a  href="/Home">Home</a></li>
          <li><a  href="/Services">Shop</a></li>
          <li><a class="active" href="/contact">Contact</a></li>
        </ul>
      </div>
    </section>
    <section id="page-header" class="about-header">
      <h2>#Let's_Talk</h2>
      <p>LEAVE A MESSAGE, We love to hear from you!</p>
    </section>
    <section id="contact-details" class="section-p1">
      <div class="details">
        <span>GET IN TOUCH</span>
        <h2>Visit one of our agency locations or contact us today</h2>
        <h3>Head Office</h3>
        <div>
          <li>
            <i class="fas fa-map"></i>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </li>
          <li>
            <i class="fas fa-envelope"></i>
            <p>contact@example.com</p>
          </li>
          <li>
            <i class="fas fa-phone-alt"></i>
            <p>(+216)12 345 678 / (+216)12 345 678</p>
          </li>
          <li>
            <i class="fas fa-clock"></i>
            <p>Monday to Saturday: 9:00am to 16:00 pm</p>
          </li>
        </div>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.3937303226485!2d10.594688114750817!3d35.83934792889244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8b840813200d%3A0x5f3bbefb88f9835d!2sGOMYCODE%20Sousse!5e0!3m2!1sfr!2stn!4v1659744516396!5m2!1sfr!2stn"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </section>
<section id="form-details" class="section-p1">
  
    <form id="form">
        <span>LEAVE A MESSAGE</span>
        <h2>We love to hear from you</h2>
        
        <input type="text" id="username" placeholder="Your Username" >
        <label for="text" id="nameLabel"></label>
        <br>
        <input type="email" id="email" placeholder="Write your E-mail">
        <label for="email" id="emailLabel"></label>
        <br>
        <input type="password" id="password" placeholder="Write your Password">
        <label for="password" id="passLabel"></label>
        <br>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your Massage"></textarea>
        <button class="normal" type="submit">Submit</button>
    </form>
</section>
    <section id="newsLetter" class="section-p1 section-m1">
      <div class="newText">
        <h4>Sign Up for Newsletters</h4>
        <p>
          Get E-mail updates about our lasted shop and
          <span>special offers</span>.
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your e-mail address" />
        <button class="normal">Sign up</button>
      </div>
    </section>
    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="img/logo.png" alt="" />
        <h4>Contact</h4>
        <p><strong>Address:</strong> 5111 Hibun, Raggada Street,Mahdia</p>
        <p><strong>Address:</strong> (+216) 12 345 678 /(+216)87 654 321</p>
        <p><strong>Hours:</strong> 09:00 - 17:00, Mon - Fri</p>
        <div class="follow">
          <h4>Follow</h4>
          <div class="icon">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://fontawesome.com/v4/icon/pinterest-p" target="_blank"><i class="fab fa-pinterest-p"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivary Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact us</a>
      </div>
      <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
      <div class="col install">
        <h4>Install App</h4>
        <p>From App Store or Google Play</p>
        <div class="row">
          <img src="img/pay/app.jpg" alt="" />
          <img src="img/pay/play.jpg" alt="" />
          <p>Secure Payment Gateways</p>
          <img src="img/pay/pay.png" alt="" />
        </div>
      </div>
      <div class="copyright">
        <p>© 2022, MedAliBouchnak</p>
      </div>
    </footer>

    <script src="script.js"></script>
    <script
      src="https://kit.fontawesome.com/db416365fd.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>